<h3><%= @note.title %></h3>

<p><%= @note.content %></p>

<ul>
  <li>
    <label>
      URL
      <span>
        <%= @note.url %>
      </span>
    </label>
  </li>
  <li>
    <label>
      Notebook
      <span>
        <%= @note.notebook.name %>
      </span>
    </label>
  </li>
  <li>
    <label>
      Tags
      <ul>
        <% @note.taggings.each do |tagging| %>
          <li>
          <%= tagging.tag.name %>
          <%= button_to "-",
            note_tagging_url(@note, tagging),
            method: :delete
          %>
          </li>
        <% end %>
        <li>
          <form action="<%= note_taggings_url(@note) %>" method="post">
            <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>"
            >
            <input type="text" name="tag_name">
            <input type="submit" value="+">
          </form>
        </li>
      </ul>
    </label>
  </li>
  <li>
    <label>
      Created
      <span>
        <%= @note.created_at %>
      </span>
    </label>
  </li>
  <li>
  <label>
      Updated
      <span>
        <%= @note.updated_at %>
      </span>
    </label>
  </li>
</ul>

<%= link_to "Edit", edit_note_url(@note) %>
<%= link_to "Destroy", note_url(@note), method: :delete %>
