<% content_for :head do %>
    <%= stylesheet_link_tag('home') %>
<% end %>

<% content_for :body do %>
<% current = {notebook_id: params[:notebook_id], note_id: params[:note_id]} %>

<header class="header group">
  <div class="account-button group">
    <img src="http://www.evernote.com/redesign/global/img/badge-free.png">
    <h3><%= current_user.username %></h3>
    <img class="dropdown-arrow" src="https://www.evernote.com/redesign/global/img/menu-dropdown-arrow-white.png">
    <%= button_to "Log Out", session_url, method: :delete %>
  </div>
</header>

<div id="content" class="group">
</div>

<script type="text/json" id="bootstrap">
  {
    "notebooks": <%= @notebooks_json.html_safe %>,
    "tags": <%= @tags_json.html_safe %>
  }
</script>

<script>
  $(document).ready(function(){
    var data = JSON.parse($('#bootstrap').text());
    Nevernote.initialize(data);
  });
</script>
<% end %>
