<% if (Nevernote.notes.length > 0) { %>

<% var note = Nevernote.currentNote %>
<% var parentNotebook = note.get('notebooks').where({parent: true})[0] %>

<header class="note-toolbar group">
  <div class="notebook-selector">
    <div class="notebook-selector-button group">
        <h3>
            <%= parentNotebook.escape('name') %>
        </h3>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAQklEQVR42mNgwAXq6+vn1NXVOcL4IHZDQ8NcBiARBsRvgQrMamtrTUFsoGQ4TFUyUOAlCAMVpKAYCZQsBAoWMZANADXWH/e+NBrMAAAAAElFTkSuQmCC">
    </div>
    <ul class="hide">
        <% note.get('notebooks').each(function(notebook) { %>
            <li data-id="<%= notebook.get('id') %>">
                <%= notebook.escape('name') %>
            </li>
        <% }) %>
    </ul>
  </div>
  <div class="new-tag">
    <input type="text" name="tag_name"></input>
  </div>
  <ul class="tags group">
    <% note.get('taggings').each(function(tag) { %>
    <li class="tag group">
        <h2><%= tag.escape('tag_name') %></h2>
        <button class="remove-tag">x</button>
    </li>
    <% }) %>
  </ul>
  <ul class="note-actions group">
    <li class="note-info">
        <button class="note-info-button group">
            <h3>Info</h3>
            <div class="info"></div>
        </button>
        <ul class="note-info-dropdown hide">
            <li class="group">
                <h4>Title:</h4>
                <div><%= note.escape('title') %></div>
            </li>
            <li class="group">
                <h4>Notebook:</h4>
                <div><%= parentNotebook.escape('name') %></div>
            </li>
            <li class="group">
                <h4>Created:</h4>
                <div><%= note.get('created_long') %></div>
            </li>
            <li class="group">
                <h4>Modified:</h4>
                <div><%= note.get('modified_long') %></div>
            </li>
        </ul>
    </li>
    <li>
        <button class="delete-note group">
            <h3>Delete</h3>
            <div class="trash"></div>
        </button>
    </li>
  </ul>
</header>
<div class="note-content-wrapper">
    <section class="note-content">
        <% var title = note.escape('title') %>
        <div class="note-title">
            <h2><%= title %></h2>
            <input type="text" name="title" value="<%= title %>" class="input hide">
        </div>
        <% var content = note.get('content') %>
        <div class="note-body">
            <p><%= content %></p>
            <p name="content" class="input hide" contenteditable="true">
                <%= content %>
            </p>
        </div>
    </section>
</div>
<% } %>
