<header class="note-toolbar group">
  <div class="notebook-selector">
    <div class="notebook-selector-button group">
        <% var notebook_id = Nevernote.note.get('notebook_id') %>
        <h3>
            <%= Nevernote.notebooks.get(notebook_id).escape('name') %>
        </h3>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAQklEQVR42mNgwAXq6+vn1NXVOcL4IHZDQ8NcBiARBsRvgQrMamtrTUFsoGQ4TFUyUOAlCAMVpKAYCZQsBAoWMZANADXWH/e+NBrMAAAAAElFTkSuQmCC">
    </div>
    <ul class="hide">
        <% Nevernote.notebooks.each(function(notebook) { %>
            <li data-id="<%= notebook.get('id') %>">
                <%= notebook.escape('name') %>
            </li>
        <% }) %>
    </ul>
  </div>
  <ul class="group">
    <li>
        <button class="delete-note group">
            <h3>Info</h3>
            <div class="info"></div>
        </button>
    </li>
    <li>
        <button class="delete-note group">
            <h3>Delete</h3>
            <div class="trash"></div>
        </button>
    </li>
  </ul>
</header>
<header class="note-sub-toolbar">
</header>
<div class="note-content-wrapper">
    <section class="note-content">
        <% var title = Nevernote.note.escape('title') %>
        <div class="note-title">
            <h2><%= title %></h2>
            <input type="text" name="title" value="<%= title %>" class="input hide">
        </div>
        <% var content = Nevernote.note.escape('content') %>
        <div class="note-body">
            <p><%= content %></p>
            <p name="content" class="input hide" contenteditable="true">
                <%= content %>
            </p>
        </div>
    </section>
</div>
