<header class="group">
  <div class="current-notebook group">
  <% if (Nevernote.currentNotebook === null) { %>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlUlEQVR42mNgwAIWL16svnz58jnLli37CcSlDMQCoGJLIF4HxP+R8PNVq1ax4dUItM0bqPAwmkY4Xrp0aTI+W8+ga2AgBQBtn4nNAFyuwbAIFGBAzh+yDYAqXkepAZbYDCAQY//RBQ6Q7QKkqCTfBVDBq2S7AASACSaBIheAkixQ4gnZLoC6IpMiA2AZh2wDkP1IjAEAOdubTOHEWpEAAAAASUVORK5CYII=">
    <h1>All Notes</h1>
  <% } else {  %>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVUlEQVR42mNgGFSguL5Nq7C2bSkQ/ycCH8AwACh4tbCuPZAYy4BqH2IT/IBuE5o8XGzUgCFlQEFdq3dBbdsZUPogywBseHAYAPTWRmwGPCHCgM/IegAsqyv9CNAK4AAAAABJRU5ErkJggg==">
    <h1><%= Nevernote.currentNotebook.escape('name') %></h1>
  <% } %>
  </div>
  <% if (Nevernote.currentTag !== null) { %>
    <div class="tag group">
        <h2><%= Nevernote.currentTag.escape('name') %></h2>
        <button class="remove-current-tag">X</button>
    </div>
  <% } %>
</header>
<ul>
  <% Nevernote.notes.each(function(note) { %>
  <li>
    <a class="show" href="#" data-id="<%= note.get('id') %>">
      <h2 class="snippet-title"><%= note.escape('title') %></h2>
      <div class="snippet-content">
        <span class="date"><%= note.escape('updated_at') %></span>
        <span class="content"><%= note.escape('content') %></span>
      </div>
    </a>
  </li>
  <% }); %>
</ul>
